/target/
/build/

.idea/
*.iml
.vscode/

*.log

.env
application-*.properties
application.properties
src/main/resources/application.properties
src/main/java/com.smartaink.smart_home_assistant

.DS_Store
Thumbs.db
