/target/
/build/

.idea/
*.iml
.vscode/

*.log

.env
application-*.properties
application.properties
/src/main/resources/application-*.properties

!/src/main/resources/application-example.properties

.DS_Store
Thumbs.db
